<div>
    <div data-ng-repeat="connection in openStream">
        type : {{connection.type}}<br>
        {{userMap[connection.peerId].label}} ({{connection.peerId}})
        <div data-ng-if="connection.type === 'video'">
            <video autoplay="autoplay" controls="true" data-ng-src="{{connection.stream}}" width="200"></video>
        </div>
        <div data-ng-if="connection.type === 'audio'">
            <audio autoplay="autoplay" controls="true" autoplay data-ng-src="{{connection.stream}}" width="200"></audio>
        </div>
        <button type="button" class="btn btn-default" data-ng-click="close(connection.peerId)">cancel</button>
    </div>
</div>