<div class="un-stream-call-open">
    <div>
        <div data-ng-repeat="connection in openStream " class="un-stream-item">
            <div data-ng-if="connection.type === 'video'">
                <video autoplay="autoplay" controls="true" data-ng-src="{{connection.stream}}"></video>
            </div>
            <div data-ng-if="connection.type === 'audio'">
                <img ng-src="{{userMap[connection.peerId].image}}">
                <audio class="client-audio" autoplay="autoplay" controls="true" autoplay
                       data-ng-src="{{connection.stream}}"></audio>
            </div>
            <a href="#" class="cancel-call" data-ng-click="close(connection.peerId)">
                <i></i>
            </a>
        </div>
        <div class="un-stream-clear"></div>
    </div>
</div>