<div class="un-stream-waiting-for-your-answer">
    <div>
        <div data-ng-repeat="connection in streamsWaitingForYourAnswer">
            <img ng-src="{{userMap[connection.peerId].image}}">
            <i class="waiting-icon"></i>

            <p translate>{{userMap[connection.peerId].label}} is calling</p>

            <div class="un-stream-option">
                <a href="#" class="answer-audio" data-ng-click="answer(connection.peerId,'audio')">
                    <i></i>
                </a>
                <a class="answer-video" data-ng-click="answer(connection.peerId,'video')">
                    <i></i>
                </a>
                <a class="stream-video-cancel" data-ng-click="close(connection.peerId)">
                    <i></i>
                </a>

                <div class="un-stream-clear"></div>
            </div>
        </div>
    </div>
</div>