<div class="un-stream-waiting-for-client-answer">
    <div>
        <div class="un-stream-item" data-ng-repeat="connection in streamsWaitingForClientAnswer">
            <img ng-src="{{userMap[connection.peerId].image}}">

            <i class="waiting-icon"></i>
            <p translate>waiting ...</p>
            <a href="#" class="stream-video-cancel" data-ng-click="close(connection.peerId)">
                <i></i>
            </a>
        </div>
        <div class="un-stream-clear"></div>
    </div>
</div>